.vs/Designathon-SkillNavigatorWebAPI/config/applicationhost.config
.vs/Designathon-SkillNavigatorWebAPI/FileContentIndex/9d890662-2b15-456d-8bab-49881e541203.vsidx
.vs/Designathon-SkillNavigatorWebAPI/FileContentIndex/84b0f76b-78e0-442e-8100-725ee8874af1.vsidx
.vs/Designathon-SkillNavigatorWebAPI/FileContentIndex/eec17709-bef8-44bb-8afb-6371e8f7e8d0.vsidx
